@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&family=Ubuntu:wght@300&display=swap");

* {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.h1-font {
  font-family: "Syne Mono", monospace;
}

#header {
  margin-top: 5%;
}

a {
  text-decoration: none;
  background: white;
  padding: 5px;
  color: black;
}

img {
  width: 563px;
  height: 315px;
  border-width: 10px;
  border-color: black;
  border-style: solid;
}

.about {
  display: flex;
  justify-self: space-evenly;
  align-items: center;
  margin-left: 10%;
}

.about-me {
  text-align: left;
  margin-right: 20px;
}

.about-me2 {
  margin-right: 10%;
}

.projects {
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5%;
}

form {
  margin-top: 1%;
  margin-bottom: 10%;
}

input[type="text"],
[type="email"],
[type="tel"],
[type="submit"] {
  text-align: center;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 40%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: black;
}

.social-links {
  color: black;
  font-size: 20px;
  list-style-type: none;
}

@media only screen and (max-width: 480px) {
  img {
    height: 215px;
    width: 300px;
  }

  .about-me {
    flex: wrap;
  }

  .about-me2 {
    margin-right: 15%;
  }

  main {
    padding-bottom: 18%;
  }

  form {
    margin-top: 1%;
    margin-bottom: 20%;
  }
}
